<body>
  <div class="gradient-bar"></div>
  <!-- Added gradient bar -->
  <div class="container">
    <h1>Welcome to API Monitoring Dashboard</h1>
    <p>
      This dashboard provides real-time monitoring and analysis of your APIs.
    </p>
    <p>Monitor API status, response times, and more!</p>
    <img
      src="../../../assets/images/lp1.svg"
      alt="Illustration"
      class="illustration"
    />
    <div class="btn-container">
      <a class="btn" (click)="loginPopup()">Login</a>
      <a class="btn" (click)="signupPopup()">Sign Up</a>
    </div>
    <div class="info-text">Monitor your APIs with ease</div>
  </div>
</body>
