.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 20px;
}
.dropdown-container {
  position: relative;
  display: inline-block;
  margin-left:11px;
}

.dropdown-container select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.dropdown-container select:focus {
  outline: none;
  border-color: #3a5a40;
}

.dropdown-container label {
  margin-right: 8px;
}

.lable {
  color: #dad7cd;
  font-weight: bold;
}
