.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 20px;
}
.dropdown-container {
  position: relative;
  display: inline-block;
  margin-left:30px ;
}

.dropdown-container select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.dropdown-container select:focus {
  outline: none;
  border-color: #3a5a40;
}

.dropdown-container label {
  margin-right: 8px;
}

.lable {
  color: #dad7cd;
  font-weight: bold;
}

.reload-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reload-button i {
  color: #DAD7CD; /* Icon color */
  font-size: 17px; /* Icon size */
  transition: color 0.3s; /* Add transition */
}

.reload-button i:hover {
  color: #66afe9; /* Change icon color on hover */
}

